
#experiment
  %p Experiment: "#{@exp.name}"

  = render :haml, :canvas, :layout => false

  %form#submit{:action=>"#{@exp.name}/results", :method=>"post"}
    %p
      Title:
      %input#title{:name=>"title", :type=>"text"}
    %input#forminput{:name=>"pixels", :type=>"text"}
    %input{:type=>"submit", :value=>"Submit"}

  %p Pixels
  #pixels

