
#experiment
  %p Experiment: "#{@exp.name}"

  %canvas#scratch{:width=>140, :height=>15}

  %form#submit{:action=>"#{@exp.name}/results", :method=>"post"}
    %input#forminput{:name=>"pixels", :type=>"text"}
    %input{:type=>"submit", :value=>"Submit"}

  %p Pixels
  #pixels

