<!DOCTYPE html>
%html{:lang=>"en"}
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/style.css">
    %script{:type=>"text/javascript", :src=>"/jquery-1.7.1.js"}
    %title Experiment Away
  %body
    = yield

