<!DOCTYPE html>
%html{:lang=>"en"}
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Lusitana' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="/style.css">
    /- if !@scripts.nil?
    -@scripts.each do |src|
      %script{:type=>"text/javascript", :src=>"#{src}"}
  %body{:onload => "#{@onload}"}
    = yield

