<!DOCTYPE html>
%html{:lang=>"en"}
  %head
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="/style.css">

    - if @exp
      -@exp.links.each do |link|
        %link{link}


    %script{:type=>"text/javascript", :src=>"/jquery-1.7.1.js"}
    %title Experiment Away
  %body
    = yield

