
%h1 Experiments

%ul
  - @experiments.each do |exp|
    %li
      %a{:href=>"#{link_to(:exp, exp)}"}
        = exp.name
      %a{:href=>"#{link_to(:results, exp)}"}
        (Results)
      %a{:href=>"#{link_to(:groups, exp)}"}
        (Groups)

