

:javascript
  $(document).ready(function() {
    #{
      @experiments.map {|exp|
        "runExperiment(\"#{exp.name}\", null);"
      }.join('\n')
    }


  var canvas = document.createElement("canvas");
  gl = canvas.getContext("experimental-webgl");

  $("#renderer").val(gl.getParameter(gl.RENDERER));
  $("#webglvendor").val(gl.getParameter(gl.VENDOR));
  $("#webglversion").val(gl.getParameter(gl.VERSION));
  $("#useragent").val(navigator.userAgent);
  });

#idnoscript
  %noscript
    %p
      %em{:style=>"font-size:200%"}
        You must have JavaScript enabled to complete this HIT.

%div#survey
  %h1 Instructions
  %ul
    %li Press some buttons

  - @experiments.each do |e|
    = e.name

  %h2
    Survey
  %form#submit{:action=>"/mt", :method=>"post"}
    %p
      Title:
    %input#userinput{:name=>"input", :type=>"textarea", :rows=>"13", :cols=>"40"}

    %input#useragent{:name=>"useragent", :type=>"hidden"}
    %input#renderer{:name=>"renderer", :type=>"hidden"}
    %input#webglvendor{:name=>"webgl_vendor", :type=>"hidden"}
    %input#webglversion{:name=>"webgl_version", :type=>"hidden"}

    - @experiments.each do |e|
      %input{:id=> "exp-" + e.name, :name=> "exp-" + e.name, :type=>"hidden"}

    %input{:type=>"submit", :value=>"Submit"}

